# Decimal_coordinates_1.0

En este script se va a tratar de trasnformar el formato XX-YY-ZZ W/E a formato decimal, ya que entendemos que nos simplificar√° el trabajo a posteriori.

In [1]:
import pandas as pd
import numpy as np

df_estaciones=pd.read_csv('../DATASETS/ESTACIONES/estaciones_coordenadas_2.csv',sep='|',error_bad_lines=False)

In [2]:
df_estaciones.head()

     ID         ESTACION Estado    Latitud    Longitud
0  8001        LA CORUNA  SPAIN     43-22N     008-25W
1  8008       LUGO/ROZAS  SPAIN     43-07N     007-27W
2  8011  ASTURIAS/AVILES  SPAIN     43-33N     006-02W
3  8014      GIJON-MUSEL  SPAIN  43-33-36N  005-42-03W
4  8015           OVIEDO  SPAIN     43-21N     005-52W

In [3]:
df_estaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 5 columns):
ID          240 non-null int64
ESTACION    240 non-null object
Estado      240 non-null object
Latitud     240 non-null object
Longitud    240 non-null object
dtypes: int64(1), object(4)
memory usage: 9.5+ KB

In [4]:
#Todas las estaciones se encuentran en latitud NORTE, con lo cual, podemos eliminar la N sin ningun problema
df_estaciones['Latitud'].replace('N','', inplace=True, regex=True)

In [5]:
df_estaciones.head()

     ID         ESTACION Estado   Latitud    Longitud
0  8001        LA CORUNA  SPAIN     43-22     008-25W
1  8008       LUGO/ROZAS  SPAIN     43-07     007-27W
2  8011  ASTURIAS/AVILES  SPAIN     43-33     006-02W
3  8014      GIJON-MUSEL  SPAIN  43-33-36  005-42-03W
4  8015           OVIEDO  SPAIN     43-21     005-52W

In [6]:
#Las estaciones se encuentran indistintamente a Este y Oeste del meridiano cero, con lo cual, a las del este las marcamos con un 
#False, y a las del Oeste con un True. 

df_estaciones['Flag']=df_estaciones['Longitud'].str.contains('W', regex=False)
df_estaciones.head()

     ID         ESTACION Estado   Latitud    Longitud  Flag
0  8001        LA CORUNA  SPAIN     43-22     008-25W  True
1  8008       LUGO/ROZAS  SPAIN     43-07     007-27W  True
2  8011  ASTURIAS/AVILES  SPAIN     43-33     006-02W  True
3  8014      GIJON-MUSEL  SPAIN  43-33-36  005-42-03W  True
4  8015           OVIEDO  SPAIN     43-21     005-52W  True

In [7]:
df_estaciones.head()

     ID         ESTACION Estado   Latitud    Longitud  Flag
0  8001        LA CORUNA  SPAIN     43-22     008-25W  True
1  8008       LUGO/ROZAS  SPAIN     43-07     007-27W  True
2  8011  ASTURIAS/AVILES  SPAIN     43-33     006-02W  True
3  8014      GIJON-MUSEL  SPAIN  43-33-36  005-42-03W  True
4  8015           OVIEDO  SPAIN     43-21     005-52W  True

In [8]:
conditions = [
    (df_estaciones['Flag']=='True'),
     (df_estaciones['Flag']=='False')]
choices=[df_estaciones['Longitud'].replace('W','', inplace=True, regex=True),
         df_estaciones['Longitud'].replace('E','', inplace=True, regex=True)]

C:\Users\Luis Miguel Garay\Anaconda3\envs\ztdl2\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [9]:
df_estaciones.head()

     ID         ESTACION Estado   Latitud   Longitud  Flag
0  8001        LA CORUNA  SPAIN     43-22     008-25  True
1  8008       LUGO/ROZAS  SPAIN     43-07     007-27  True
2  8011  ASTURIAS/AVILES  SPAIN     43-33     006-02  True
3  8014      GIJON-MUSEL  SPAIN  43-33-36  005-42-03  True
4  8015           OVIEDO  SPAIN     43-21     005-52  True

In [10]:
df_estaciones[['Lat_grad','Lat_min','Lat_seg']]=df_estaciones.Latitud.str.split("-",expand=True)
df_estaciones[['Lon_grad','Lon_min','Lon_seg']]=df_estaciones.Longitud.str.split("-",expand=True)
df_estaciones.head()

,ID,ESTACION,Estado,Latitud,Longitud,Flag,Lat_grad,Lat_min,Lat_seg,Lon_grad,Lon_min,Lon_seg
0,8001,LA CORUNA,SPAIN,43-22,008-25,True,43,22,None,008,25,None
1,8008,LUGO/ROZAS,SPAIN,43-07,007-27,True,43,07,None,007,27,None
2,8011,ASTURIAS/AVILES,SPAIN,43-33,006-02,True,43,33,None,006,02,None
3,8014,GIJON-MUSEL,SPAIN,43-33-36,005-42-03,True,43,33,36,005,42,03
4,8015,OVIEDO,SPAIN,43-21,005-52,True,43,21,None,005,52,None

In [11]:
df_estaciones.fillna(value=pd.np.nan, inplace=True)

In [12]:
df_estaciones.head()

,ID,ESTACION,Estado,Latitud,Longitud,Flag,Lat_grad,Lat_min,Lat_seg,Lon_grad,Lon_min,Lon_seg
0,8001,LA CORUNA,SPAIN,43-22,008-25,True,43,22,NaN,008,25,NaN
1,8008,LUGO/ROZAS,SPAIN,43-07,007-27,True,43,07,NaN,007,27,NaN
2,8011,ASTURIAS/AVILES,SPAIN,43-33,006-02,True,43,33,NaN,006,02,NaN
3,8014,GIJON-MUSEL,SPAIN,43-33-36,005-42-03,True,43,33,36,005,42,03
4,8015,OVIEDO,SPAIN,43-21,005-52,True,43,21,NaN,005,52,NaN

In [13]:
df_estaciones=df_estaciones.fillna(0)

In [14]:
df_estaciones['Lat_grad'] = df_estaciones['Lat_grad'].astype(int)
df_estaciones['Lat_min'] = df_estaciones['Lat_min'].astype(int)
df_estaciones['Lat_seg'] = df_estaciones['Lat_seg'].astype(int)
df_estaciones['Lon_grad'] = df_estaciones['Lon_grad'].astype(int)
df_estaciones['Lon_min'] = df_estaciones['Lon_min'].astype(int)
df_estaciones['Lon_seg'] = df_estaciones['Lon_seg'].astype(int)

In [15]:
df_estaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 12 columns):
ID          240 non-null int64
ESTACION    240 non-null object
Estado      240 non-null object
Latitud     240 non-null object
Longitud    240 non-null object
Flag        240 non-null bool
Lat_grad    240 non-null int32
Lat_min     240 non-null int32
Lat_seg     240 non-null int32
Lon_grad    240 non-null int32
Lon_min     240 non-null int32
Lon_seg     240 non-null int32
dtypes: bool(1), int32(6), int64(1), object(4)
memory usage: 15.3+ KB

In [16]:
df_estaciones['Lat_seg'] = df_estaciones['Lat_seg']/60
df_estaciones['Lon_seg'] = df_estaciones['Lon_seg']/60

In [17]:
df_estaciones.head()

,ID,ESTACION,Estado,Latitud,Longitud,Flag,Lat_grad,Lat_min,Lat_seg,Lon_grad,Lon_min,Lon_seg
0,8001,LA CORUNA,SPAIN,43-22,008-25,True,43,22,0.0,8,25,0.00
1,8008,LUGO/ROZAS,SPAIN,43-07,007-27,True,43,7,0.0,7,27,0.00
2,8011,ASTURIAS/AVILES,SPAIN,43-33,006-02,True,43,33,0.0,6,2,0.00
3,8014,GIJON-MUSEL,SPAIN,43-33-36,005-42-03,True,43,33,0.6,5,42,0.05
4,8015,OVIEDO,SPAIN,43-21,005-52,True,43,21,0.0,5,52,0.00

In [18]:
df_estaciones['Lat_min'] =df_estaciones['Lat_min']+df_estaciones['Lat_seg']
df_estaciones['Lon_min'] = df_estaciones['Lon_min']+df_estaciones['Lon_seg']
df_estaciones.head()

,ID,ESTACION,Estado,Latitud,Longitud,Flag,Lat_grad,Lat_min,Lat_seg,Lon_grad,Lon_min,Lon_seg
0,8001,LA CORUNA,SPAIN,43-22,008-25,True,43,22.0,0.0,8,25.00,0.00
1,8008,LUGO/ROZAS,SPAIN,43-07,007-27,True,43,7.0,0.0,7,27.00,0.00
2,8011,ASTURIAS/AVILES,SPAIN,43-33,006-02,True,43,33.0,0.0,6,2.00,0.00
3,8014,GIJON-MUSEL,SPAIN,43-33-36,005-42-03,True,43,33.6,0.6,5,42.05,0.05
4,8015,OVIEDO,SPAIN,43-21,005-52,True,43,21.0,0.0,5,52.00,0.00

In [19]:
df_estaciones['Lat_min'] =df_estaciones['Lat_min']/60
df_estaciones['Lon_min'] =df_estaciones['Lon_min']/60
df_estaciones['Lat_grad'] =df_estaciones['Lat_grad']+df_estaciones['Lat_min']
df_estaciones['Lon_grad'] = df_estaciones['Lon_grad']+df_estaciones['Lon_min']
df_estaciones.head()

,ID,ESTACION,Estado,Latitud,Longitud,Flag,Lat_grad,Lat_min,Lat_seg,Lon_grad,Lon_min,Lon_seg
0,8001,LA CORUNA,SPAIN,43-22,008-25,True,43.366667,0.366667,0.0,8.416667,0.416667,0.00
1,8008,LUGO/ROZAS,SPAIN,43-07,007-27,True,43.116667,0.116667,0.0,7.450000,0.450000,0.00
2,8011,ASTURIAS/AVILES,SPAIN,43-33,006-02,True,43.550000,0.550000,0.0,6.033333,0.033333,0.00
3,8014,GIJON-MUSEL,SPAIN,43-33-36,005-42-03,True,43.560000,0.560000,0.6,5.700833,0.700833,0.05
4,8015,OVIEDO,SPAIN,43-21,005-52,True,43.350000,0.350000,0.0,5.866667,0.866667,0.00

In [20]:
df_estaciones=df_estaciones.drop(['Lat_min'], axis=1)
df_estaciones=df_estaciones.drop(['Lat_seg'], axis=1)
df_estaciones=df_estaciones.drop(['Lon_min'], axis=1)
df_estaciones=df_estaciones.drop(['Lon_seg'], axis=1)
df_estaciones=df_estaciones.drop(['Latitud'], axis=1)
df_estaciones=df_estaciones.drop(['Longitud'], axis=1)

In [21]:
df_estaciones.head()

     ID         ESTACION Estado  Flag   Lat_grad  Lon_grad
0  8001        LA CORUNA  SPAIN  True  43.366667  8.416667
1  8008       LUGO/ROZAS  SPAIN  True  43.116667  7.450000
2  8011  ASTURIAS/AVILES  SPAIN  True  43.550000  6.033333
3  8014      GIJON-MUSEL  SPAIN  True  43.560000  5.700833
4  8015           OVIEDO  SPAIN  True  43.350000  5.866667

In [22]:
rslt_df = df_estaciones[df_estaciones['Flag'] ==True]

In [23]:
rslt_df.head()

     ID         ESTACION Estado  Flag   Lat_grad  Lon_grad
0  8001        LA CORUNA  SPAIN  True  43.366667  8.416667
1  8008       LUGO/ROZAS  SPAIN  True  43.116667  7.450000
2  8011  ASTURIAS/AVILES  SPAIN  True  43.550000  6.033333
3  8014      GIJON-MUSEL  SPAIN  True  43.560000  5.700833
4  8015           OVIEDO  SPAIN  True  43.350000  5.866667

In [24]:
rslt_df2 = df_estaciones[df_estaciones['Flag'] ==False]

In [25]:
rslt_df2.head()

      ID              ESTACION Estado   Flag   Lat_grad  Lon_grad
21  8112                TALARN  SPAIN  False  42.200000  0.866667
22  8117             LA MOLINA  SPAIN  False  42.333333  1.933333
29  8171                LLEIDA  SPAIN  False  41.626111  0.598056
30  8175       REUS/AEROPUERTO  SPAIN  False  41.150000  1.166667
31  8181  BARCELONA/AEROPUERTO  SPAIN  False  41.283333  2.066667

In [26]:
rslt_df['Lon_grad']=rslt_df['Lon_grad']*(-1)

C:\Users\Luis Miguel Garay\Anaconda3\envs\ztdl2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
rslt_df.head()

     ID         ESTACION Estado  Flag   Lat_grad  Lon_grad
0  8001        LA CORUNA  SPAIN  True  43.366667 -8.416667
1  8008       LUGO/ROZAS  SPAIN  True  43.116667 -7.450000
2  8011  ASTURIAS/AVILES  SPAIN  True  43.550000 -6.033333
3  8014      GIJON-MUSEL  SPAIN  True  43.560000 -5.700833
4  8015           OVIEDO  SPAIN  True  43.350000 -5.866667

In [28]:
df_estaciones=pd.concat([rslt_df,rslt_df2])
df_estaciones.head(n=250)

       ID                          ESTACION Estado   Flag   Lat_grad  Lon_grad
0    8001                         LA CORUNA  SPAIN   True  43.366667 -8.416667
1    8008                        LUGO/ROZAS  SPAIN   True  43.116667 -7.450000
2    8011                   ASTURIAS/AVILES  SPAIN   True  43.550000 -6.033333
3    8014                       GIJON-MUSEL  SPAIN   True  43.560000 -5.700833
4    8015                            OVIEDO  SPAIN   True  43.350000 -5.866667
5    8021                 SANTANDER/PARAYAS  SPAIN   True  43.433333 -3.816667
6    8023                         SANTANDER  SPAIN   True  43.466667 -3.816667
7    8025                 BILBAO/AEROPUERTO  SPAIN   True  43.300000 -2.933333
8    8027             SAN SEBASTIAN/IGUELDO  SPAIN   True  43.300000 -2.050000
9    8029        SAN SEBASTIAN/FUENTERRABIA  SPAIN   True  43.350000 -1.800000
10   8042  SANTIAGO DE COMPOSTELA/LABACOLLA  SPAIN   True  42.900000 -8.433333
11   8044                        PONTEVEDRA  SPAIN   True  42.433333 -8.616667
12   8045                     VIGO/PEINADOR  SPAIN   True  42.216667 -8.633333
13   8048                            ORENSE  SPAIN   True  42.333333 -7.866667
14   8053                        PONFERRADA  SPAIN   True  42.533333 -6.583333
15   8055            LEON/VIRGEN DEL CAMINO  SPAIN   True  42.583333 -5.650000
16   8075                  BURGOS/VILLAFRIA  SPAIN   True  42.366667 -3.633333
17   8080                   VITORIA/FORONDA  SPAIN   True  42.883333 -2.716667
18   8084                 LOGRONO/AGONCILLO  SPAIN   True  42.450000 -2.333333
19   8085                    PAMPLONA/NOAIN  SPAIN   True  42.766667 -1.633333
20   8094                   HUESCA/PIRINEOS  SPAIN   True  42.083333 -0.333333
23   8130                            ZAMORA  SPAIN   True  41.500000 -5.750000
24   8140             VALLADOLID/VILLANUBLA  SPAIN   True  41.716667 -4.850000
25   8141                        VALLADOLID  SPAIN   True  41.650000 -4.766667
26   8148                             SORIA  SPAIN   True  41.766667 -2.466667
27   8157                          DAROCA I  SPAIN   True  41.116667 -1.416667
28   8160               ZARAGOZA/AEROPUERTO  SPAIN   True  41.660556 -1.004167
33   8202                 SALAMANCA/MATACAN  SPAIN   True  40.950000 -5.500000
34   8210                             AVILA  SPAIN   True  40.650000 -4.700000
35   8213                           SEGOVIA  SPAIN   True  40.950000 -4.116667
..    ...                               ...    ...    ...        ...       ...
52   8306    PALMA DE MALLORCA/SON SAN JUAN  SPAIN  False  39.550000  2.733333
53   8314                MENORCA/AEROPUERTO  SPAIN  False  39.866667  4.233333
59   8373                   IBIZA/ES CODOLA  SPAIN  False  38.866667  1.383333
77   8301            PALMA DE MALLORCA, CMT  SPAIN  False  39.550000  2.616667
120  8103                            BIELSA  SPAIN  False  42.630000  0.224167
121  8107                            ARTIES  SPAIN  False  42.700278  0.876667
122  8115                    LA SEO DURGELL  SPAIN  False  42.354167  1.462778
123  8118                            RIPOLL  SPAIN  False  42.191389  2.195556
124  8120                         PORQUERES  SPAIN  False  42.104167  2.763056
139  8169                         VANDELLOS  SPAIN  False  40.958056  0.870833
140  8173                           TARREGA  SPAIN  False  41.650278  1.149167
141  8174                           MANRESA  SPAIN  False  41.720278  1.839167
142  8180                     BARCELONA,CMT  SPAIN  False  41.390556  2.200000
143  8186                     ARENYS DE MAR  SPAIN  False  41.586667  2.540000
144  8188                      SANTA SUSANA  SPAIN  False  41.650278  2.696667
155  8239                           VINAROZ  SPAIN  False  40.559167  0.430556
156  8240                        SANT JAUME  SPAIN  False  40.699167  0.809167
157  8241                       VILLAFRANCA  SPAIN  False  40.433056  0.255556
178  8303                 SIERRA DE ALFABIA  SPAIN  False  39.734444  2.713056
179  8304                              LLUC  SPAIN  False  39.823056  2.885556
180  8309                       PORTO COLOM  SPAIN  False  39.414167  3.271667
181  8310                          PORRERES  SPAIN  False  39.521667  3.019167
182  8311                    CAPDEPERA-FAR0  SPAIN  False  39.715556  3.477500
183  8312                SA POBLA-SA CANOVA  SPAIN  False  39.749167  3.016667
201  8370               JAVEA, AYUNTAMIENTO  SPAIN  False  38.784167  0.166667
233  8925        ERISTE, REFUGIO ANGEL ORUS  SPAIN  False  42.633333  0.450000
234  8926           FANLO, REFUGIO DE GORIZ  SPAIN  False  42.666667  0.016667
235  8928        BENASQUE, REFUGIO DE ESTOS  SPAIN  False  42.683333  0.483333
236  8930            CERLER, ESQU COTA 2000  SPAIN  False  42.583333  0.533333
239  8927         BIELSA, REFUGIO DE PINETA  SPAIN  False  42.666667  0.100000

[240 rows x 6 columns]

In [29]:
df_estaciones=df_estaciones.drop(['Flag'], axis=1)
df_estaciones.head()

     ID         ESTACION Estado   Lat_grad  Lon_grad
0  8001        LA CORUNA  SPAIN  43.366667 -8.416667
1  8008       LUGO/ROZAS  SPAIN  43.116667 -7.450000
2  8011  ASTURIAS/AVILES  SPAIN  43.550000 -6.033333
3  8014      GIJON-MUSEL  SPAIN  43.560000 -5.700833
4  8015           OVIEDO  SPAIN  43.350000 -5.866667

In [30]:
df_estaciones.columns = ['ID','ESTACION','Estado','Latitud','Longitud']

In [31]:
df_estaciones.head()

     ID         ESTACION Estado    Latitud  Longitud
0  8001        LA CORUNA  SPAIN  43.366667 -8.416667
1  8008       LUGO/ROZAS  SPAIN  43.116667 -7.450000
2  8011  ASTURIAS/AVILES  SPAIN  43.550000 -6.033333
3  8014      GIJON-MUSEL  SPAIN  43.560000 -5.700833
4  8015           OVIEDO  SPAIN  43.350000 -5.866667

In [32]:
df_estaciones.to_csv('../DATASETS/ESTACIONES/estaciones_coordenadas_decimal.csv',sep='|',header=True,index=False)

In [33]:
df_estaciones['Longitud']=df_estaciones['Longitud'].astype(str)
df_estaciones['Latitud']=df_estaciones['Latitud'].astype(str)

In [34]:
df_estaciones['Coordenadas']=df_estaciones[['Latitud','Longitud']].apply(lambda x: ', '.join(x), axis=1)
df_estaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 6 columns):
ID             240 non-null int64
ESTACION       240 non-null object
Estado         240 non-null object
Latitud        240 non-null object
Longitud       240 non-null object
Coordenadas    240 non-null object
dtypes: int64(1), object(5)
memory usage: 13.1+ KB

In [35]:
df_estaciones.head(n=60)

,ID,ESTACION,Estado,Latitud,Longitud,Coordenadas
0,8001,LA CORUNA,SPAIN,43.36666666666667,-8.416666666666666,"43.36666666666667, -8.416666666666666"
1,8008,LUGO/ROZAS,SPAIN,43.11666666666667,-7.45,"43.11666666666667, -7.45"
2,8011,ASTURIAS/AVILES,SPAIN,43.55,-6.033333333333333,"43.55, -6.033333333333333"
3,8014,GIJON-MUSEL,SPAIN,43.56,-5.700833333333334,"43.56, -5.700833333333334"
4,8015,OVIEDO,SPAIN,43.35,-5.866666666666667,"43.35, -5.866666666666667"
5,8021,SANTANDER/PARAYAS,SPAIN,43.43333333333333,-3.8166666666666664,"43.43333333333333, -3.8166666666666664"
6,8023,SANTANDER,SPAIN,43.46666666666667,-3.8166666666666664,"43.46666666666667, -3.8166666666666664"
7,8025,BILBAO/AEROPUERTO,SPAIN,43.3,-2.9333333333333336,"43.3, -2.9333333333333336"
8,8027,SAN SEBASTIAN/IGUELDO,SPAIN,43.3,-2.05,"43.3, -2.05"
9,8029,SAN SEBASTIAN/FUENTERRABIA,SPAIN,43.35,-1.8,"43.35, -1.8"
10,8042,SANTIAGO DE COMPOSTELA/LABACOLLA,SPAIN,42.9,-8.433333333333334,"42.9, -8.433333333333334"
11,8044,PONTEVEDRA,SPAIN,42.43333333333333,-8.616666666666667,"42.43333333333333, -8.616666666666667"
12,8045,VIGO/PEINADOR,SPAIN,42.21666666666667,-8.633333333333333,"42.21666666666667, -8.633333333333333"
13,8048,ORENSE,SPAIN,42.333333333333336,-7.866666666666667,"42.333333333333336, -7.866666666666667"
14,8053,PONFERRADA,SPAIN,42.53333333333333,-6.583333333333333,"42.53333333333333, -6.583333333333333"
15,8055,LEON/VIRGEN DEL CAMINO,SPAIN,42.583333333333336,-5.65,"42.583333333333336, -5.65"
16,8075,BURGOS/VILLAFRIA,SPAIN,42.36666666666667,-3.6333333333333333,"42.36666666666667, -3.6333333333333333"
17,8080,VITORIA/FORONDA,SPAIN,42.88333333333333,-2.716666666666667,"42.88333333333333, -2.716666666666667"
18,8084,LOGRONO/AGONCILLO,SPAIN,42.45,-2.3333333333333335,"42.45, -2.3333333333333335"
19,8085,PAMPLONA/NOAIN,SPAIN,42.766666666666666,-1.6333333333333333,"42.766666666666666, -1.6333333333333333"
20,8094,HUESCA/PIRINEOS,SPAIN,42.083333333333336,-0.3333333333333333,"42.083333333333336, -0.3333333333333333"
23,8130,ZAMORA,SPAIN,41.5,-5.75,"41.5, -5.75"
24,8140,VALLADOLID/VILLANUBLA,SPAIN,41.71666666666667,-4.85,"41.71666666666667, -4.85"
25,8141,VALLADOLID,SPAIN,41.65,-4.766666666666667,"41.65, -4.766666666666667"
26,8148,SORIA,SPAIN,41.766666666666666,-2.466666666666667,"41.766666666666666, -2.466666666666667"
27,8157,DAROCA I,SPAIN,41.11666666666667,-1.4166666666666667,"41.11666666666667, -1.4166666666666667"
28,8160,ZARAGOZA/AEROPUERTO,SPAIN,41.660555555555554,-1.0041666666666667,"41.660555555555554, -1.0041666666666667"
33,8202,SALAMANCA/MATACAN,SPAIN,40.95,-5.5,"40.95, -5.5"
34,8210,AVILA,SPAIN,40.65,-4.7,"40.65, -4.7"
35,8213,SEGOVIA,SPAIN,40.95,-4.116666666666666,"40.95, -4.116666666666666"
36,8215,"NAVACERRADA, PUERTO",SPAIN,40.78333333333333,-4.016666666666667,"40.78333333333333, -4.016666666666667"
37,8221,MADRID/BARAJAS,SPAIN,40.45,-3.55,"40.45, -3.55"
38,8223,MADRID/CUATRO VIENTOS,SPAIN,40.38333333333333,-3.783333333333333,"40.38333333333333, -3.783333333333333"
39,8224,MADRID/GETAFE,SPAIN,40.3,-3.716666666666667,"40.3, -3.716666666666667"
40,8226,GUADALAJARA,SPAIN,40.63027777777778,-3.15,"40.63027777777778, -3.15"
41,8231,CUENCA,SPAIN,40.06666666666667,-2.1333333333333333,"40.06666666666667, -2.1333333333333333"
42,8232,MOLINA DE ARAGON,SPAIN,40.85,-1.8833333333333333,"40.85, -1.8833333333333333"
43,8233,CALAMOCHA,SPAIN,40.93333333333333,-1.3,"40.93333333333333, -1.3"
44,8235,TERUEL,SPAIN,40.35,-1.1166666666666667,"40.35, -1.1166666666666667"
46,8261,CACERES,SPAIN,39.46666666666667,-6.333333333333333,"39.46666666666667, -6.333333333333333"
47,8272,TOLEDO,SPAIN,39.88333333333333,-4.05,"39.88333333333333, -4.05"
48,8280,ALBACETE/LOS LLANOS,SPAIN,38.95,-1.85,"38.95, -1.85"
49,8284,VALENCIA/AEROPUERTO,SPAIN,39.5,-0.4666666666666667,"39.5, -0.4666666666666667"
50,8285,VALENCIA VIVEROS,SPAIN,39.483333333333334,-0.38333333333333336,"39.483333333333334, -0.38333333333333336"
51,8286,CASTELLON-ALMAZORA,SPAIN,39.95,-0.06666666666666667,"39.95, -0.06666666666666667"
54,8330,BADAJOZ/TALAVERA LA REAL,SPAIN,38.88333333333333,-6.816666666666666,"38.88333333333333, -6.816666666666666"
55,8335,HINOJOSA DEL DUQUE,SPAIN,38.516666666666666,-5.116666666666666,"38.516666666666666, -5.116666666666666"
56,8348,CIUDAD REAL,SPAIN,38.983333333333334,-3.9166666666666665,"38.983333333333334, -3.9166666666666665"
57,8359,ALICANTE,SPAIN,38.36666666666667,-0.5,"38.36666666666667, -0.5"
58,8360,ALICANTE/EL ALTET,SPAIN,38.28333333333333,-0.55,"38.28333333333333, -0.55"
60,8383,HUELVA,SPAIN,37.28333333333333,-6.916666666666667,"37.28333333333333, -6.916666666666667"
61,8391,SEVILLA/SAN PABLO,SPAIN,37.416666666666664,-5.9,"37.416666666666664, -5.9"
62,8397,MORON DE LA FRONTERA,SPAIN,37.15,-5.616666666666667,"37.15, -5.616666666666667"
63,8410,CORDOBA/AEROPUERTO,SPAIN,37.85,-4.85,"37.85, -4.85"
64,8417,JAEN,SPAIN,37.78333333333333,-3.8,"37.78333333333333, -3.8"
65,8419,GRANADA/AEROPUERTO,SPAIN,37.18333333333333,-3.783333333333333,"37.18333333333333, -3.783333333333333"
66,8429,MURCIA/ALCANTARILLA,SPAIN,37.95,-1.2333333333333334,"37.95, -1.2333333333333334"
67,8430,MURCIA,SPAIN,38.0,-1.1666666666666667,"38.0, -1.1666666666666667"
68,8433,MURCIA/SAN JAVIER,SPAIN,37.78333333333333,-0.8,"37.78333333333333, -0.8"
69,8451,JEREZ DE LA FRONTERA AEROPUERTO,SPAIN,36.75,-6.066666666666666,"36.75, -6.066666666666666"

Se ha conseguido transformar las coordenadas al formato deseado. Ahora lo que haremos ser√° trasladar estas coordenadas al fichero de historico de coordenadas.

In [36]:
df_historico=pd.read_csv('../DATASETS/ESTACIONES/historico_estaciones_coordenadas_2.csv',sep='|',error_bad_lines=False)

In [37]:
df_historico.head()

,Fecha,ID,Estacion,Estado,Latitud,Longitud,T. med. (¬∫C),T. max (¬∫C),T. min (¬∫C),Prec. (mm),Presion/ Geopot.,Dir. vi.,Vel. vi. (Km/h),Nub.,Prof. nieve (cm),Insolac. (horas)
0,31/01/2011,8001,LA CORUNA,SPAIN,43-22N,008-25W,8.3,10.4,6.2,0.0,1024.1 Hpa,65¬∫(NE),14,7/8,-,0.7
1,31/01/2011,8008,LUGO/ROZAS,SPAIN,43-07N,007-27W,2.6,4.4,0.9,0.2,1024.3 Hpa,325¬∫(NW),2,8/8,-,0.0
2,31/01/2011,8011,ASTURIAS/AVILES,SPAIN,43-33N,006-02W,5.5,8.0,2.9,0.0,1025.0 Hpa,203¬∫(SW),6,7/8,-,0.8
3,31/01/2011,8014,GIJON-MUSEL,SPAIN,43-33-36N,005-42-03W,6.6,9.0,4.2,0.0,1024.1 Hpa,224¬∫(SW),5,7/8,-,0.4
4,31/01/2011,8015,OVIEDO,SPAIN,43-21N,005-52W,4.4,7.4,1.4,Ip,1024.5 Hpa,235¬∫(SW),2,7/8,-,1.6

In [38]:
result_join = pd.merge(df_historico, 
                  df_estaciones,
                  left_on='ID',
                  right_on='ID',
                  how='left')

In [39]:
result_join.head()

,Fecha,ID,Estacion,Estado_x,Latitud_x,Longitud_x,T. med. (¬∫C),T. max (¬∫C),T. min (¬∫C),Prec. (mm),...,Dir. vi.,Vel. vi. (Km/h),Nub.,Prof. nieve (cm),Insolac. (horas),ESTACION,Estado_y,Latitud_y,Longitud_y,Coordenadas
0,31/01/2011,8001,LA CORUNA,SPAIN,43-22N,008-25W,8.3,10.4,6.2,0.0,...,65¬∫(NE),14,7/8,-,0.7,LA CORUNA,SPAIN,43.36666666666667,-8.416666666666666,"43.36666666666667, -8.416666666666666"
1,31/01/2011,8008,LUGO/ROZAS,SPAIN,43-07N,007-27W,2.6,4.4,0.9,0.2,...,325¬∫(NW),2,8/8,-,0.0,LUGO/ROZAS,SPAIN,43.11666666666667,-7.45,"43.11666666666667, -7.45"
2,31/01/2011,8011,ASTURIAS/AVILES,SPAIN,43-33N,006-02W,5.5,8.0,2.9,0.0,...,203¬∫(SW),6,7/8,-,0.8,ASTURIAS/AVILES,SPAIN,43.55,-6.033333333333333,"43.55, -6.033333333333333"
3,31/01/2011,8014,GIJON-MUSEL,SPAIN,43-33-36N,005-42-03W,6.6,9.0,4.2,0.0,...,224¬∫(SW),5,7/8,-,0.4,GIJON-MUSEL,SPAIN,43.56,-5.700833333333334,"43.56, -5.700833333333334"
4,31/01/2011,8015,OVIEDO,SPAIN,43-21N,005-52W,4.4,7.4,1.4,Ip,...,235¬∫(SW),2,7/8,-,1.6,OVIEDO,SPAIN,43.35,-5.866666666666667,"43.35, -5.866666666666667"

In [40]:
result_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359612 entries, 0 to 359611
Data columns (total 21 columns):
Fecha               359612 non-null object
ID                  359612 non-null int64
Estacion            359612 non-null object
Estado_x            359612 non-null object
Latitud_x           359612 non-null object
Longitud_x          359612 non-null object
T. med. (¬∫C)        359612 non-null object
T. max (¬∫C)         359612 non-null object
T. min (¬∫C)         359612 non-null object
Prec. (mm)          359612 non-null object
Presion/ Geopot.    359612 non-null object
Dir. vi.            359612 non-null object
Vel. vi. (Km/h)     359612 non-null object
Nub.                359612 non-null object
Prof. nieve (cm)    359612 non-null object
Insolac. (horas)    283707 non-null object
ESTACION            359612 non-null object
Estado_y            359612 non-null object
Latitud_y           359612 non-null object
Longitud_y          359612 non-null object
Coordenadas         359612 non-null object
dtypes: int64(1), object(20)
memory usage: 60.4+ MB

In [41]:
result_join=result_join[['Fecha','ID','Estacion','Estado_x','Latitud_y','Longitud_y','T. med. (¬∫C)','T. max (¬∫C)','T. min (¬∫C)','Prec. (mm)','Presion/ Geopot.','Dir. vi.','Vel. vi. (Km/h)','Nub.','Prof. nieve (cm)','Insolac. (horas)']]
result_join.head()

,Fecha,ID,Estacion,Estado_x,Latitud_y,Longitud_y,T. med. (¬∫C),T. max (¬∫C),T. min (¬∫C),Prec. (mm),Presion/ Geopot.,Dir. vi.,Vel. vi. (Km/h),Nub.,Prof. nieve (cm),Insolac. (horas)
0,31/01/2011,8001,LA CORUNA,SPAIN,43.36666666666667,-8.416666666666666,8.3,10.4,6.2,0.0,1024.1 Hpa,65¬∫(NE),14,7/8,-,0.7
1,31/01/2011,8008,LUGO/ROZAS,SPAIN,43.11666666666667,-7.45,2.6,4.4,0.9,0.2,1024.3 Hpa,325¬∫(NW),2,8/8,-,0.0
2,31/01/2011,8011,ASTURIAS/AVILES,SPAIN,43.55,-6.033333333333333,5.5,8.0,2.9,0.0,1025.0 Hpa,203¬∫(SW),6,7/8,-,0.8
3,31/01/2011,8014,GIJON-MUSEL,SPAIN,43.56,-5.700833333333334,6.6,9.0,4.2,0.0,1024.1 Hpa,224¬∫(SW),5,7/8,-,0.4
4,31/01/2011,8015,OVIEDO,SPAIN,43.35,-5.866666666666667,4.4,7.4,1.4,Ip,1024.5 Hpa,235¬∫(SW),2,7/8,-,1.6

In [42]:
result_join.to_csv('../DATASETS/ESTACIONES/historico_estaciones_coordenadas_decimal.csv',sep='|',header=True,index=False)

Ya tenemos el fichero del historico de meteo con las coordenadas con el mismo formato que el fichero de ahogados. A partir de ahora el siguiente objetivo es conseguir asociar a cada incidente de ahogamiento una estacion de meteo.