In [3]:
import pandas as pd
import numpy as np
import math
from math import sin, cos, sqrt, atan2, radians

from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373.0

lat1 = radians(52.2296756)
lon1 = radians(21.0122287)
lat2 = radians(52.406374)
lon2 = radians(16.9251681)

dlon = lon2 - lon1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

print("Result:", distance)

In [6]:
coordenadas = {'lon1': [-3.967197,-3.967197],   #liencres
            'lat1': [43.450879,43.450879],
              'lon2': [-4.048997,-3.822715],    #torrelavega,parayas
              'lat2': [43.347850,43.427847]}

new_df = pd.DataFrame(coordenadas, columns = ['lon1', 'lat1','lon2','lat2'])

new_df.head()

       lon1       lat1      lon2       lat2
0 -3.967197  43.450879 -4.048997  43.347850
1 -3.967197  43.450879 -3.822715  43.427847

In [7]:
# approximate radius of earth in km
R = 6373.0

In [8]:
new_df['rad_lat1'] = np.radians(new_df[['lat1']])
new_df['rad_lon1'] = np.radians(new_df['lon1'])
new_df['rad_lat2'] = np.radians(new_df['lat2'])
new_df['rad_lon2'] = np.radians(new_df['lon2'])

new_df['dlat'] = new_df['rad_lat2'] - new_df['rad_lat1']
new_df['dlon'] = new_df['rad_lon2'] - new_df['rad_lon1']

new_df['a'] = np.sin(new_df['dlat'] / 2)**2 + np.cos(new_df['rad_lat1']) * np.cos(new_df['rad_lat2']) * np.sin(new_df['dlon'] / 2)**2
new_df['c'] = 2 * np.arctan2(np.sqrt(new_df['a']), np.sqrt(1 - new_df['a']))

new_df['distance'] = R * new_df['c']

In [9]:
new_df.head()

,lon1,lat1,lon2,lat2,rad_lat1,rad_lon1,rad_lat2,rad_lon2,dlat,dlon,a,c,distance
0,-3.967197,43.450879,-4.048997,43.347850,0.758361,-0.069241,0.756563,-0.070668,-0.001798,-0.001428,1.077387e-06,0.002076,13.230003
1,-3.967197,43.450879,-3.822715,43.427847,0.758361,-0.069241,0.757959,-0.066719,-0.000402,0.002522,8.785402e-07,0.001875,11.946888